.form-wraper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: #00000072;
  display: flex;
  align-items: center;
  justify-content: center;
}

#customerForm {
  border-radius: 10px;
  width: 900px;

  background-color: white;
}
