.table-wraper {
  width: 100%;
  flex: 1;
  background-color: #fff;
  border-radius: 4px;
  color: var(--black);
  overflow-y: scroll;
}
.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background);
}
.table {
  margin-top: 24px;
}
.table > thead {
  background-color: var(--background);
}

.table > thead {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.table > thead tr th:nth-child(1) {
  border-left: none;
}
tbody,
td,
tfoot,
th,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-top: none !important;
  border-right: 1px dotted #ccc;
}
td:last-child {
  border-right: none;
}
th:first-child {
  border-left: 1px dotted #ccc;
}
.max-w-100 {
  text-align: center;
  width: 125px;
}

.table .table-function {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  color: #0075c0;
  font-size: 16px;
}

.table .table-function .btn-delete {
  margin-left: 8px;
  cursor: pointer;
}

.table .table-function .btn-update {
  cursor: pointer;
}
